.todolist {
    align-self: center;
    color: white;
  }
  
  .todolist .crossText {
    text-decoration: line-through;
    color: pink;
  }
  
  .todolist input {
    background: transparent;
    border: none;
    color: whitesmoke;
    border-bottom: 5px dashed whitesmoke;
    min-width: 400px;
    margin-top: 40px;
    padding: 5px;
    font-size: 1rem;
  }
  
  .todolist input::placeholder {
    color: whitesmoke;
    font-size: 1.3rem;
  }
  
  .todolist input:focus {
    outline: none;
    border: 2px dotted whitesmoke;
  }
  
  .todolist .add-btn {
    padding: 10px;
    border-radius: 30%;
    color: black;
    font-size: 1.2rem;
    background-color: rgb(0, 255, 98);
    border: none;
    margin-left: 10px;
    cursor: pointer;
    border: 3px solid whitesmoke;
  }
  
  .todolist .add-btn:hover {
    padding: 15px;
    font-size: 1.5rem;
  }
  
  .todolist ul {
    margin-top: 30px;
    font-size: 1.5rem;
  }
  
  .todolist ul li {
    list-style: none;
    margin-bottom: 4px;
  
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin-left: -100px;
    background-color: rgb(236, 236, 236, 0.6);
    font-family: "Permanent Marker", cursive;
    color: black;
  }
  .todolist ul li .delete {
    margin-top: 5px;
    float: right;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
  }
  
  .todolist ul li .completed{
    margin-top: 5px;
    float: right;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(109, 128, 0);
    margin-left: 10px;
    color: white;
  }